<div class="row">
  <div class="col-md-12">
    <h1> Available appointments </h1>
  </div>
  <div class="col-md-12">
    <%= render partial: 'table', locals: { collection: @time_slots } %>
  </div>
</div>
